__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.env
.venv
venv
.git
.gitignore
.vscode
.idea
*.log
data/*.csv
front-end/
node_modules/
mlruns
tests/
docs/
*.md
run_pipeline.py
pytest.ini
TUTORIAL.txt
FRONTEND_GUIDE.md
Trainova.Api/
Trainova.Application/
Trainova.Infrastructure.DataAccess/
